{% extends "weddingapp/header.html" %}
{% block content %}
<div class="py-4 filter-dark" style="background-image: url('https://i.imgur.com/1TXryyk.jpg');background-position:center center;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-1 text-primary">Travel</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center display-3 text-primary">Travel Information</h1>
          <p class="">Below you'll find information on public transport at the various locations as well as a uber code to get you started with ride sharing. If you have any other questions you can contact Zain with the information below.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="pt-5 text-white bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img class="img-fluid d-block mx-auto py-2" src="https://seeklogo.com/images/U/uber-logo-9B6033C292-seeklogo.com.png"> </div>
        <div class="col-md-6 text-md-left text-center align-self-center my-5">
          <h1 class="display-1" href="https://www.uber.com/invite/zaina2473ue">Uber Code</h1>
          <p class="lead">Whether if you'll be in New York, Normal, or Pakistan Here is a $5 coupon for uber!</p>
          <div class="row mt-5">
            <div class="col-md-12 text-center col-12">
              <a class="btn btn-secondary btn-lg w-75" href="https://www.uber.com/invite/zaina2473ue">Claim Code</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-1 text-center">Public Transport</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-secondary p-4">
    <div class="container">
      <div class="row">
        <div class="align-self-center col-md-4 p-3">
          <div class="card">
            <div class="card-block w-100 p-4">
              <h1>
                <span style="font-size: 30px;">New York City,</span>
              </h1>
              <h3>NY</h3>
              <hr>
              <p>MTA New York City Transit is the largest public transportation agency in North America and one of the largest in the world.</p>
              <a href="#" class="btn btn-dark btn-block">Website</a>
            </div>
          </div>
        </div>
        <div class="p-3 align-self-center col-md-4">
          <div class="card">
            <div class="card-block p-4">
              <h1>
                <span style="font-size: 30px;">Normal,</span>
              </h1>
              <h3>IL</h3>
              <hr>
              <p>Normal and its sister city of Bloomington have a public transit system with numerous bus routes that serve all parts of the community. </p>
              <a href="#" class="btn btn-dark btn-block">Website</a>
            </div>
          </div>
        </div>
        <div class="p-3 align-self-center col-md-4">
          <div class="card">
            <div class="card-block p-4">
              <h1>
                <span style="font-size: 30px;">Karachi,</span>
              </h1>
              <h3>Pakistan</h3>
              <hr>
              <p>Minibuses, coaches and large busestypically provide the cheapest way to commute across the city. </p>
              <a href="#" class="btn btn-dark btn-block">Website</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}	
