{% block content %}

<div class="py-5 text-center filter-dark" style="background-image: url('https://i.imgur.com/1TXryyk.jpg');background-size:cover;background-position:center bottom;background-repeat:no-repeat;" >
    <div class="container py-5">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-3 mb-4 text-primary">Khush and Zain's Wedding</h1>
          <p class="lead mb-5">One stop destination for information, dates, and live updates on the wedding.</p>
          <a href="{% url 'RSVP' %}" class="btn btn-lg mx-1 btn-secondary">RSVP
            <br> </a>
          <a href="{% url 'events' %}" class="btn btn-lg btn-primary mx-1">Events</a>
        </div>
      </div>
    </div>
  </div>
  <div class="py-4" >
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center display-3 text-primary">Pakistani Weddings</h1>
          <p class="">Pakistani weddings are definitely the most fun events and celebrations to attend. Everyone struts out in his or her dazzling outfit. The weddings are made up of a series of celebratory events – all of which complete the marital package with
            a touch of ‘chatkhara’. As soon as the wedding season arrives, preparations start all around for brides and grooms to be. Below is what to expect with Khush and Zain's wedding!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <img class="img-fluid d-block w-100 mb-3 rounded" src="https://i.imgur.com/3qjwxjx.jpg">
              <h1 class="">Mehndi</h1>
              <p class="">Mehndis are usually the most anticipated events, because they are supposed to be the most fun-filled events of the entire wedding. Youngsters prepare dances for mehndis which are usually presented to the couple. Often times couples will
                dance on their mehndi’s too. Elders will put mehndi and oil on leaves in the bride and groom’s hands, and feed them mithai.&nbsp;The groom usually wears a shalwar kurta on his mehndi. Often times, colourful neck scarves are also worn by
                the groom and boys attending the mehndi. The music chosen for mehndi events is always fast and groovy.</p>
            </div>
            <div class="col-md-6">
              <img class="img-fluid d-block w-100 mb-3 rounded" src="https://i.imgur.com/FUfoTY2.jpg">
              <h1 class="">Nikkah</h1>
              <p class="">The most important part of the whole ceremony is the Nikkah. Here the exchanging of the vows and the acceptance of marriage by both the bride and groom takes place. The nikkah is the most sacred matrimonial tie between a man and a woman.
                It forms an everlasting relationship between two people on the basis of two words, “I do”, said thrice by each of them.&nbsp;The couple also sign the marriage contract or Nikkah-naama which contains all the terms and conditions agreed
                by both sides which they have to adhere too. Usually the fathers of both the bride and groom will stand as witnesses. Immediately following this, the groom’s side hand out wedding favours, or bidh, to all the guests.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-2">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-7">
          <h2 class="text-primary">Baraat/Shaddi</h2>
          <p class="">The Baraat comes next, which involves the ‘departing ceremony’ for the bride following the arrival of the groom in a procession to take her away. This event is held and organised by the bride’s family. The most important part of the baraat is
            the Rukhsati. It can rather be a sad moment for the family of the bride, and the bride herself. The food on baraat is usually lavish and rich. Pakistani food items usually include pulao, biryani, chicken curry, kebabs etc. Kheers and halwas
            are usually part of desserts.&nbsp;All in all, baraats are fun events with a little touch of teary and emotional moments. The most painful moment is when the father of the bride sends off his daughter to a completely new home and environment.</p>
        </div>
        <div class="col-md-5 align-self-center">
          <img class="img-fluid d-block w-100 img-thumbnail" src="https://i.imgur.com/omlS3y3.jpg"> </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <img class="img-fluid d-block mb-4 w-100 img-thumbnail" src="https://i.imgur.com/ec45t3w.jpg?1"> </div>
        <div class="col-md-7">
          <h2 class="text-primary pt-3">Walima</h2>
          <p class="">The last main event is the Walima. This event is a grand dinner and reception hosted by the groom. This event is usually all about putting an end to the long series of wedding events, and to say thanks to guests and family. 
              The dress and make-up of this event for the bride is usually chosen by the groom’s side. The food on the walima is almost the same as the baraat. The focus on this event is again on picture taking and just light gupshup. When the walima is over, the wedding officially comes to an end.</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}	
