{% extends "weddingapp/header.html" %}

{% block content%}
    <div class="py-4 filter-dark" style="background-image: url('https://i.imgur.com/1TXryyk.jpg');background-position:center center;">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1 class="display-1 text-primary">Live Feed</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="py-5 bg-light">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header bg-primary">{{post.date}}</div>
                <div class="card-body">
                  <h4>{{post.title}}</h4>
                  <h6 class="text-muted">Author: {{post.author}}</h6>
                  <p>{{post.body|safe|linebreaks}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}