{% extends "weddingapp/header.html" %}
{% block content%}
<body>
    <div class="py-4 filter-dark" style="background-image: url('https://i.imgur.com/1TXryyk.jpg');background-position:center center;">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="display-1 text-primary">RSVP</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="py-5 text-center bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <h1 class="text-secondary">Walima RSVP</h1>
                <p class="text-secondary">Below you can RSVP for the Walima on July 22nd for more information click here</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="py-5 bg-primary text-light">
      <div class="container">
        <div class="row">
          <div class="text-center col-md-12" draggable="true" >
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfjFu1FjfEtfDRa2NSaGV1z32-NItIz2W860eXIwRnJKRPzpA/viewform?embedded=true" width="700" height="1800" frameborder="0" marginheight="0" marginwidth="0" class="p-0 d-inline-flex">Loading...</iframe>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}